.header{
    height: 5rem;
    background-color: blueviolet;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;

    margin:1rem 45rem;
    
 }
 
 
 .header img{
    width: 4.5rem;
    
 }
 